* {
    list-style: none;
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
i,
b {
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.nav {
    width: 1200px;
    height: 752px;
    margin: auto;
    margin-top: -6px;
}

.nav p {
    margin-top: 30px;
}

.nav p span {
    color: #999;
    font-size: 12px;
    float: left
}

.nav p span:hover {
    color: #6060F3
}

.nav p span:nth-of-type(2) {
    background: url(../img/ia_1000003665.jpg) no-repeat;
    margin-left: 70px;
}

.nav p span:nth-of-type(3) {
    background: url(../img/ia_1000003665.jpg) no-repeat;
    margin-left: 20px;
}

.nav-right {
    width: 667px;
    height: 667px;
    background: yellow;
    float: right;
    margin-top: -331px;
    margin-right: 120px;
}

.nav-right h1 {
    color: #333;
    font-weight: 700;
    font-size: 18px;
}

.nav-right h2 {
    color: #e3393c;
    font-size: 14px;
}

.nav-right .djs {
    display: block;
    width: 667px;
    height: 63px;
    background: url(../img/651d7a597b1696b0d77079d499e8cb69.png);
    // font-size: 22px;
    // color: white;
}

.nav-right .djs span {
    font-size: 20px;
    color: #fff;
    line-height: 63px;
    margin-left: 20px;
}

#Time {
    width: 250px;
    height: 63px;
    float: right;
    font-size: 20px;
    color: white;
    line-height: 63px;
}

.nav-right .jg {
    width: 667px;
    height: 55px;
    background: #f3f3f3;
}

.nav-right .jg span:nth-of-type(1) {
    margin-top: 20px;
    float: left;
    color: #999;
    font-size: 14px;
}

.nav-right .jg span:nth-of-type(2) {
    color: #e3393c;
    font-size: 20px;
}

.nav-right .jg span:nth-of-type(3) {
    font-size: 34px;
    color: #e3393c;
    font-weight: 700;
}

.nav-right .jg span:nth-of-type(4) {
    color: #333;
    font-size: 14px;
    text-decoration: line-through;
}

#yx {
    width: 667px;
    height: 94px;
    background: white;
    border-bottom: 1px dashed black
}

#yx h1 {
    width: 667px;
    height: 32px;
    margin: 0;
    display: inline-block;
    margin-top: 10px;
}

#yx h1 span {
    color: #999;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400
}

#yx h1 span em {
    color: #e54649;
    line-height: 25px;
    font-size: 14px;
    font-style: normal;
}

#yx h1 span i {
    color: #78b300;
    line-height: 25px;
    font-size: 14px;
}

#yx h2 {
    width: 667px;
    height: 32px;
    margin: 0;
    display: inline-block;
    margin-top: 15px;
}

#yx h2 span {
    float: left;
    width: 100px;
}

#yx h2 span img {
    width: 20px;
    height: 20px;
}

#yx h2 span em {
    width: 100px;
    height: 20px;
    font-style: normal;
    position: absolute;
    margin-left: 25px;
    display: inline-block;
    margin-top: -20px;
    color: black;
}

#yx h3 {
    width: 667px;
    height: 31px;
    margin: 0;
    display: inline-block;
    margin-top: 15px;
}

#yx h3 span {
    float: left;
    width: 100px;
}